/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        holdtapmodright: holdtapmodright {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPMODRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42>;
        };

        tapqoutes: tapqoutes {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPQOUTES";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>, <&kp GRAVE>;
        };

        tapholdbt: tapholdbt {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPHOLDBT";
            bindings = <&bt>, <&bt>;

            #binding-cells = <2>;
            tapping-term-ms = <30>;
        };

        layertap: layertap {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYERTAP";
            #binding-cells = <0>;
            bindings = <&to 1>, <&to 2>, <&to 1>;
        };

        holdlayertapkp: holdlayertapkp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDLAYERTAPKP";
            bindings = <&kp>, <&layertap>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        tapbracket: tapbracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPBRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        tapbrace: tapbrace {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPBRACE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        tapparenthesis: tapparenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPPARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        tapgreaterthan: tapgreaterthan {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPGREATERTHAN";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp GREATER_THAN>;
        };

        tapslash: tapslash {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPSLASH";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
        };

        tappaste: tappaste {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPPASTE";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>, <&kp LG(V)>;
        };

        tapend: tapend {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPEND";
            #binding-cells = <0>;
            bindings = <&kp LC(END)>, <&kp LG(K_BACK)>;
        };

        taphome: taphome {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPHOME";
            #binding-cells = <0>;
            bindings = <&kp LC(HOME)>, <&kp LG(HOME)>;
        };

        tapcolon: tapcolon {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPCOLON";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp COLON>, <&kp EQUAL>;
        };

        tapunderscore: tapunderscore {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPUNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
        };

        tapquestion: tapquestion {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPQUESTION";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp QUESTION>;
        };

        taplessthan: taplessthan {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPLESSTHAN";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LESS_THAN>;
        };

        tapleftbracket: tapleftbracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPLEFTBRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_BRACE>;
        };

        taprightbracket: taprightbracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPRIGHTBRACKET";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_BRACE>;
        };

        tapwin: tapwin {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPWIN";
            #binding-cells = <0>;
            bindings = <&kp LEFT_WIN>, <&kp ESCAPE>;
        };

        mouse: mouse {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <30>;
        };

        hold_tap_mo: hold_tap_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
        };

        holdtapmodleft: holdtapmodleft {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPMODLEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3                &kp NUMBER_4             &kp N5                        &kp NUMBER_6                                                              &kp N7                       &kp N8                         &kp N9                    &kp N0                       &kp MINUS  &kp EQUAL
&tapbracket      &kp Q         &kp W                       &kp E                    &kp R                         &kp T                                                                     &kp Y                        &kp U                          &kp I                     &kp O                        &kp P      &kp GRAVE
&tapparenthesis  &kp A         &holdtapmodleft LEFT_ALT S  &holdtapmodleft LCTRL D  &holdtapmodleft LEFT_SHIFT F  &holdtapmodleft LEFT_WIN G                                                &holdtapmodright LEFT_WIN H  &holdtapmodright LEFT_SHIFT J  &holdtapmodright LCTRL K  &holdtapmodright LEFT_ALT L  &tapcolon  &kp SINGLE_QUOTE
&tapbrace        &kp Z         &kp X                       &kp C                    &kp V                         &kp B                       &kp LS(TAB)             &kp TAB               &kp N                        &kp M                          &kp COMMA                 &kp DOT                      &tapslash  &kp DOUBLE_QUOTES
                                                           &kp LEFT_WIN             &kp ESCAPE                    &kp ENTER                   &hold_tap_mo 1 SPACE    &hold_tap_mo 1 SPACE  &kp BACKSPACE                &kp DELETE                     &kp CAPSLOCK
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1  &kp F2  &kp F3        &kp F4     &kp F5          &kp F6                                    &kp F7    &kp F8       &kp F9         &kp F10    &kp F11  &kp F12
&none   &none   &none         &none      &none           &none                                     &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN  &kp END    &none    &none
&trans  &none   &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &kp LEFT_WIN                              &kp LEFT  &kp DOWN     &kp UP         &kp RIGHT  &none    &none
&trans  &none   &none         &none      &none           &none         &kp LG(LS(S))    &kp GRAVE  &none     &none        &none          &none      &none    &trans
                              &mo 2      &trans          &trans        &trans           &trans     &trans    &trans       &trans
            >;
        };

        layer_2 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG                  &none  &none  &none  &none  &soft_off  &ext_power EP_ON
&none       &none         &none         &none         &none         &none                         &none  &none  &none  &none  &none      &none
&none       &none         &none         &none         &none         &none                         &none  &none  &none  &none  &none      &none
&none       &none         &none         &none         &none         &none         &none    &none  &none  &none  &none  &none  &none      &none
                                        &none         &trans        &none         &none    &none  &none  &none  &none
            >;
        };
    };
};
